*{
    padding: 0;
    margin: 0;
}
figure{
    margin: 0;
    padding: o;
}

body{

    background-color:#009639;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}
header{
    position: fixed;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #009639;
    width: 100%;
}


.site-links {
    display: flex;
    align-items: center;
    
    
}


.headernav{
    color: white;
    text-decoration: none;   
}

/*.social-media{
    display:flex;
    justify-items: space-between;}*/
    

    .black{
        background-color: black;
    }
    
.hero{
    margin-top: 60px;
    margin-bottom: -10px;
    background-color: #000000;
    min-width: 100%;
    
    
}   
.hero-image{
    min-width: 100%;
}

.manifesto{
   text-align: center;
   font-style: italic;
   background-color: black;
   font-size: 2em;
   /*line-height: 1.5em;*/
  /* margin: 0;*/
  -webkit-animation-name: color;
  -webkit-animation-duration: 3s;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count:3;
  margin-bottom: -10px;
  margin-top: 50px;

  
}
.manifesto h1 h4{
    line-height: 1,5em;
}

@-webkit-keyframes color{
    from {background-color: black;}
  to {background-color: yellow;}
}


.tfy{
   margin: 0;
   background-color:white ;
   min-width: 100%;
   
}


span{
    color:#009639;
}

.video-links{
    background-color: white;
    height: 400px;
   /* width: 100%;*/
    display:flex;
    /*justify-content: space-around;*/
    color: black;
    /*align-items: center;*/
    text-transform: none;
    
}

.video-links h1,a{
    font-style: italic;
    text-decoration: none;
}

.video-links a{
    color:#009639;
}

.video-links p{
    font-family: "AvenirNextLTW01-Medium"sans-serif;
    font-weight: lighter;
}
.video-links iframe{
    display: flex;
    align-content: center;
   /* margin-left: 15%;*/

    }

.video{
    margin-left: 5%;

}
.lemon-sticker{
    margin-left: 1px;
}
.TMW{
    display: flex;
    justify-content: space-evenly;
    
   /* align-items: baseline;*/
}
.TMW figure{
    align-items: baseline;
}

.TMW p{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 75px;
    font-style: italic;
}
.TMW-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    
}

.TMW button{
    background-color: #009639;
    color: white;
    height: 75px;
    width: 300px;
    font-size: 25px;
    border: .05px solid;
    margin: 6px 0 6px 0;
    font-family: 'Archivo Black', sans-serif;

}

.follow-us{
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-style: italic;     
}
.twitter{
    -webkit-animation-name: twitter; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    animation-name: twitter;
    animation-duration: 8s;
}
@-webkit-keyframes twitter {
    0%   { left:0;}
    25%  { left:25%;}
    50%  { left:50%;}
    75%  { left:75%;}
    100% { left:100%;}
  }
 
  

  
.music{
    background-image: url("images/crinkled-paper-texture_23-2147786533.jpg");
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    color:green;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    text-transform: none;
    align-items: center;
}
.button{
    background-color: #009639;
    color: white;
    height: 75px;
    width: 300px;
    font-size: 25px;
    border: .05px solid;
    margin: 6px 0 6px 0;
    font-family: 'Archivo Black', sans-serif;
}
.button-podcast{
    background-color: #009639;
    color: white;
    height: 75px;
    width: 280px;
    font-size: 25px;
    border: .05px solid;
    margin: 6px 0 6px 0;
    font-family: 'Archivo Black', sans-serif;

}
.playlist{
    display: flex;
}
.podcast{
   /* display: flex;
    align-items: center;*/

}
.end-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.end-links-list{
    color:white;
}
.footer div a{
    display: flex;
    justify-content:center;
    color:white;
    

}
.help{
    display: flex;
    justify-content: space-around;
}
